{
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "presets": ["es2015", "react"],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }
      }
    }
  }
}